body{
    background-color: rgb(160, 161, 163);
    margin: 60px;
    font-size: 11pt;
    color: rgb(56, 104, 26);
}

h1{
    font-size: 82pt;
}

h2{
    font-size: 24pt;
    position: relative;
    margin-top: -20px;
}

div{
    width: 75%;
}

.div2{
    width: 43%;
    position: absolute;
    left: 50%;
    top: 46.75%;
}

a{
    color: rgb(56, 104, 26);
    text-decoration: none;
    position: relative;
    top: 30px;
}